@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 91 33% 99%;
    --foreground: 91 73% 2%;
    --muted: 91 10% 91%;
    --muted-foreground: 91 5% 25%;
    --popover: 91 33% 99%;
    --popover-foreground: 91 73% 2%;
    --card: 91 33% 99%;
    --card-foreground: 91 73% 2%;
    --border: 91 11% 94%;
    --input: 91 11% 94%;
    --primary: 91 84% 65%;
    --primary-foreground: 91 84% 5%;
    --secondary: 91 6% 92%;
    --secondary-foreground: 91 6% 32%;
    --accent: 91 13% 86%;
    --accent-foreground: 91 13% 26%;
    --destructive: 7 90% 34%;
    --destructive-foreground: 7 90% 94%;
    --ring: 91 84% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 91 31% 2%;
    --foreground: 91 33% 98%;
    --muted: 91 10% 9%;
    --muted-foreground: 91 5% 75%;
    --popover: 91 31% 2%;
    --popover-foreground: 91 33% 98%;
    --card: 91 31% 2%;
    --card-foreground: 91 33% 98%;
    --border: 91 11% 12%;
    --input: 91 11% 12%;
    --primary: 91 84% 65%;
    --primary-foreground: 91 84% 5%;
    --secondary: 91 13% 10%;
    --secondary-foreground: 91 13% 70%;
    --accent: 91 22% 16%;
    --accent-foreground: 91 22% 76%;
    --destructive: 7 90% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 91 84% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
